body {
  background-color: #000111;
  font-size: 16px;
  color: white;
  font-family: sans-serif;
}
h1 {
  font-size: 2.25rem;
}
.container-main p:hover,
.container-main p:focus,
footer p:hover,
footer p:focus {
  text-shadow: 0 0 3px #faed27, 0 0 5px #faed27;
  color: #ffff;
}
main .container {
  padding: 2em;
}
.container {
  box-shadow: 0px 0px 10px #39ff14;
  border: greenyellow 2px groove;
  background-color: #000000;
  margin-top: 3em;
}
.container:hover,
.container:focus {
  box-shadow: 0px 0px 10px #faed27;
}
.container-main {
  display: flex;
  flex-direction: column;
  width: 98%;
  margin: 0 auto;
}
p {
  font-size: 1rem;
  letter-spacing: 0.05rem;
  word-spacing: 0.1rem;
}
/*main nav*/
.container-flex {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 3em;
}
h2,
.title-header {
  text-shadow: 0 0 3px #39ff14, 0 0 5px #39ff14;
  color: black;
  margin-bottom: 0;
}
.title-sub-header {
  font-size: 1.25rem;
  text-shadow: 0 0 3px #fd1c03, 0 0 5px #ff0000;
  color: black;
  font-weight: 700;
  margin-top: 0;
}
h2:hover,
h2:focus,
.title-header:hover,
.title-header:focus {
  color: #39ff14;
}
/*navbar*/
header p:hover {
  color: #fd1c03;
}
nav li {
  margin-left: 2em;
}
nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}
nav a {
  font-size: 1.125rem;
  text-decoration: none;
  padding: 0.25em 0;
  color: #faed27;
}
a:focus,
a:hover {
  text-shadow: 0 0 3px #faed27, 0 0 5px #faed27;
  color: greenyellow;
}
@media (min-width: 675px) {
  .container-flex {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    padding: 1.5em;
    margin: 0 auto;
  }
  nav {
    margin: auto 0;
  }
  nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
  }
  .container-main {
    flex-direction: row;
    justify-content: center;
  }
  .container-main-body {
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
  }
}
footer {
  text-align: center;
  margin-bottom: 0;
}
